body {
  font-family: Arial, sans-serif;  
  background-color: #F8F8F8;
} 
header {
  background-color: #333;
  color: #FFF;
  padding: 20px;
} 
header h1 {
  margin: 0;
} 
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} 
section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom:2px solid #545454;
} 
section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
} 
h2 {
  font-size: 24px;
  margin-top: 0;
} 
p {
  font-size: 16px;
  line-height: 1.5;
}  
footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
.logo{
  width: 100px;
  height: auto;
} 
.log{
  width: 200px;
  height: auto;
} 
.loo{
  
}