.boxx{
    width: 45%;
    height: auto;
    float: left;
}
form{
    width: 55%;
    height: auto;
    float: right;
    padding-right: 5%;
    background-color: #eee;
    padding-left: 3%;
}
.boton{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 22px;
}
.btn{
    max-width: 0 auto;
}
input{
    padding-top: 20px;
}
.image{
    width:  100%;
    height: 720px;
}
footer{
    background-color: black;
    text-align: center;
}
.botton{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-control{
    margin-top: 10px;
}
.comen{
    padding-top: 30px;
}